nav{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    padding-top: 14px;
    position: relative;
    >ul{
        display: inherit;
        align-items:end;
        list-style-type: none;
        margin-bottom: 12px;
        padding: 0;
        >li{
            font-family: "DejavuSans";
            color:#1E2022;
            border-right: 1px solid #B31312;
            font-size: 20px;
            height: 40px;
            line-height: 35px;
            padding-inline: 12px;
            user-select: none;
         
        }
    }
}

.logo {
    width: 190px;
    height: auto;
}

.burger_menu{
    width: 36px;
    height: 36px;
    border: none;
    display: none;
    margin-right: 16px;
    cursor: pointer;
}

.search_icon_active {
    filter: grayscale(100%) brightness(3.6) invert(1) contrast(1.2) sepia(1) saturate(10000%) hue-rotate(360deg) brightness(75%);
}

a{
    color: inherit;
    text-decoration-line:none ;
}

.dropdown_menu{
    padding-top:31px;
    width: inherit;
    position: relative;
    z-index: 3;
}

.burger_menu_open{
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 2;
    background-color: #f0f5f9;
    padding-bottom: 79px;
    display: none;
    ul{
        list-style-type: none;
        text-align: center;
        margin-top: 34px;
        li{
            font-family: "DejavuSans";
            font-size: 20px;
            line-height: 60px;
            letter-spacing: 0.01em;
            color: #1E2022;
            
        }
    }
    hr{
        margin: 24px 0 20px;
    }
}
@keyframes animationActive {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
}
@keyframes animationDisable {
    to {transform: translateX(100%);}
}

.burger_menu_disable {
    animation: animationDisable 500ms;
    visibility: hidden;
    transition: visibility 500ms ease;
}

@media screen and (max-width:1480px) {
    nav{
        .logo{
            width: 147px;
            height: 63px;
        }

        ul{
            margin-bottom:6px;
            li{
                font-size: 16px;
                img{
                    width: 38px;
                }
            }
        }
    }
}

@media screen and (max-width:1280px) {
    nav{
        margin-inline: 80px;
    }
}

@media screen and (max-width:1200px) {
    nav{
        margin-inline: 60px;
        >ul{
            >li{
                font-size: 13px;
                height: 25px;
                line-height: 20px;
                img{
                    width: 24px;
                }
            }
        }
    }

    .logo{
        width: 123px;
        height: 53px;
    }
}

@media screen and (max-width:1024px) {
    .burger_menu,.burger_menu_open{
        display: block;
    }
    .burger_menu_active {
        animation: animationActive 500ms;
        display: block;
    }

    nav{
        ul{
            li:not(li:nth-last-child(1),li:nth-last-child(2), li:nth-last-child(3)){
                display: none;
            }
            li:nth-last-child(2){
                    border-left: 1px solid #B31312;
            }
            li{
                height: 36px;
                img{
                    width: 32px;
                }
            }
            gap: 0;
        }
    }   
}


@media screen and (max-width:425px) {
    nav{
        margin-inline: 10px;
    }  
}

