.home_page{
    margin-inline: 120px;
}

.home_page_top_section {
    width: 100%;
    display: flex;
}
.home_page_bottom_section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.home_page_daily-and-mostly-read {
    width: 70%;
}

@media screen and (max-width:1280px) {
    .home_page{
        margin-inline: 80px;
    }
    
}

@media screen and (max-width:1024px) {
    .home_page{
        margin-inline: 60px;
    }
    
}

@media screen and (max-width:900px) {
    .home_page{
        margin-inline: 30px;
    }

   
}

@media screen and (max-width:768px) {

    .home_page_top_section {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .home_page_daily-and-mostly-read {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .home_page{
        margin-inline: 10px;
    }  
}
