*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.global{
    background-color: #f0f5f9;
}

@font-face {
    font-family: DejavuSansExtraLight;
    src: url(/fonts/DejaVuSans-ExtraLight.ttf);
}

@font-face {
    font-family: BraindYerevan;
    src: url(/fonts/BraindYerevan.otf);
}

@font-face {
    font-family: ArmHmksBebasNeue;
    src: url(/fonts/ArmHmksBebasNeue.TTF);
}

@font-face {
    font-family: DejavuSans;
    src: url(/fonts/DejaVuSans-Bold.ttf);
}

@font-face {
    font-family: DejavuSans400;
    src: url(/fonts/DejaVuSans.ttf);
}
@font-face {
    font-family: NotoSansArmenian;
    src: url(/fonts/NotoSansArmenian.ttf);
}

@font-face {
    font-family: NotoSansArmenian600;
    src: url(/fonts/NotoSansArmenian.ttf);
    font-weight: 600;
}



.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: #F0F5F9;
}

a {
    text-decoration: none;
}

@media (min-width: 390px) {
    .container {
        max-width: 390px;
    }
}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {

    .container {
        max-width: 1024px;
    }

}


@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}


@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}