.watch_container{
    margin-top: 90px;
    width: 100%;
    div {
        h2 {
            font-family: BraindYerevan;
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;
            text-align: left;
            color: #1E2022;
        }

        hr {
            width: 40px;
            height: 0;
            border-bottom: 3px solid;
            border-image-source: linear-gradient(90deg, #B31312 -2.38%, rgba(179, 19, 18, 0) 101.19%);
            border-image-slice: 1;
        }
    }
}

.watch_clip{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width:1080px) {
    .watch_clip{
        gap: 10px;
    }
}

@media screen and (max-width:768px) {
    .watch_container{
        margin-top: 40px;
    }
}
