.search_container{
    padding:54px 222px 300px;
    hr{
        border: 2px solid;
        border-image-source: linear-gradient(270deg, rgba(43, 42, 76, 0) 0%, rgba(43, 42, 76, 0.8) 26.9%, #2B2A4C 51.5%, rgba(43, 42, 76, 0.8) 70.4%, rgba(43, 42, 76, 0) 100%);
        border-image-slice: 1;
        margin-top: 24px;

    }
    
    
    >h2{
        margin-top: 54px;
        padding-left: 7px;
        font-family: "ArmHmksBebasNeue";
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0.01em;

    }
}
.search_result{
    padding-inline: 7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 10px;
    >p,span{
        font-family: "NotoSansArmenian";
        font-size: 20px;
        line-height: 60px;
        letter-spacing: 0.01em;
        color: #52616B;
    }
    >p>span{
        font-family: "NotoSansArmenian600";
    }
    
}

.input_container{
    text-align: center;
    input{
        width: 89%;
        height: 68px;
        border-radius: 6px;
        border: 2px solid #2B2A4C;
        font-size: 20px;
        padding-left: 24px;
        font-family: "NotoSansArmenian";
        line-height: 60px;
        letter-spacing: 0.01em;
        margin-bottom: 24px;

    }
    button{
        width: 91px;
        height: 68px;
        background-color: #2B2A4C;
        border: none;
        border-radius: 6px;
        vertical-align: top;
        margin-left: 10px;
        cursor: pointer;
    }
}   

.search_paginate_container{
    justify-content: end !important;
}

@media screen and (max-width:1370px) {
    .search_container{
        padding-inline: 120px;
    }
    
}

@media screen and (max-width:1170px) {
    .search_container{
        padding-inline: 80px;
    }
    .input_container{
        input{
            width: 70%;
        }
    }
    
}

@media screen and (max-width:768px) {
    .search_container{
        padding-inline: 40px;
        padding-top: 36px;
        >hr{
            margin-top: 0;
        }
    }

    .input_container{
        input{
            height: 52px;
            font-size: 16px;
        }
        button{
            width: 52px;
            height: 52px;
            img{
                width: 28px;

            }
        }
    }
    
}

@media screen and (max-width:425px) {
    .search_container{
        padding-inline: 10px;
        .search_result{
            >p,span{
                font-size: 14px;
            }
        }
        >h2{
            font-size: 22px;
            margin-top: 40px;
        }
    }
    
}

