.hourly_news_feed_container {
  width: 30%;
  height: 1590px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;

  h3 {
    margin-top: 42px;
    font-family: BraindYerevan;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    color: #1E2022;
  }

  hr {
    width: 40px;
    height: 0;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(90deg, rgba(175, 20, 20, 0) -2.38%, rgba(43, 42, 76, 0.5) 48.27%, rgba(175, 20, 20, 0) 101.09%);
    border-image-slice: 1;
  }
}

.hourly_news_feed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  padding-right: 10px;
  overflow-y: auto;
}

.hourly_news_feed::-webkit-scrollbar {
  width: 10px;
}

.hourly_news_feed::-webkit-scrollbar-track {
  background: #C9D6DF;
}

.hourly_news_feed::-webkit-scrollbar-thumb {
  background: #52616b;
  border-radius: 4px;
}

.hourly_news_feed::-webkit-scrollbar-thumb:hover {
  background: #981110;
}

.hourly_newsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(90deg, rgba(175, 20, 20, 0) -2.38%, rgba(43, 42, 76, 0.5) 48.27%, rgba(175, 20, 20, 0) 101.09%);
  border-image-slice: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hourly_newsCard:hover {
  .hourly_newsCard_title {
    color: #B31312;
  }
}

.hourly_newsCard_createdAt {
  display: flex;
  align-items: center;
  gap: 10px;

  div {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: #B31312;
  }

  span {
    font-family: DejavuSans400;
    font-size: 20px;
    font-weight: 400;
    color: #B31312;
  }
}

.hourly_newsCard_title {
  font-family: BraindYerevan;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  color: #1E2022;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-more-btn {
  margin-top: 20px;
  display: none;
  color: #f0f5f9;
  background-color: #B31312;
  height: 40px;
  font-family: "BraindYerevan";
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.01em;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width:1240px) {
  .hourly_news_feed_container {
    height: 2050px;
  }
}

@media screen and (max-width:1080px) {
  .hourly_newsCard_title {
    font-size: 22px;
  }
}

@media screen and (max-width:768px) {
  .hourly_news_feed_container {
    width: 100%;
    height: fit-content;
    margin-right: 0;
  }
  .hourly_news_feed {
    overflow-y: hidden;
  }
  .view-more-btn {
    display: block;
  }
}
